body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2013 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #23180d !important;
}

.MuiInputLabel-outlined.Mui-focused{
  color: grey !important;
}

.MuiAppBar-colorPrimary{
  background-color: #23180d !important;
}
.MuiOutlinedInput-adornedEnd{
  width: 500px;
}

.MuiInputBase-input:invalid{
  background-color:white !important ;
}